extends layout

block content
    h1 Users
    p Welcome to the users area

    div.content
        table.table.table-striped
            thead
                tr
                    th Table
                    th Heading
            tbody
                tr
                    td Foo Bar
                    td Foo Bar